<div class="status" id="slider">
  <div class="row">
    <div class="col-lg-4 count">
      <p>{{storesCount}}</p>
      <p>STORES</p>
    </div>
    <div class="count">
      <div class="card">
        <div class="card-body">
          <p class="card-title title">ShopGrocery</p>
        </div>
      </div>
    </div>
    <div class="offset-lg-4 count">
      <p>300+</p>
      <p>CATEGORIES</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 offset-lg-2 count" id="front-text">
      <p class="project-desc">ShopGrocery is an online application connecting the local marts, It is highly beneficial
        for
        medium revenue
        shopkeepers.
        The main theme of this application is to delivery products to the doorstep within in the short span of time.</p>
    </div>
  </div>
  <figure>
    <img src="../../../assets/images/disieuthi-1497500715.jpg" alt>
    <img src="../../../assets/images/online-grocery-store-online-grocery-store.jpg" alt>
    <img src="../../../assets/images/rice.jpg" alt>
    <img src="../../../assets/images/img_0728.jpg" alt>
    <img src="../../../assets/images/online-grocery-store-online-grocery-store.jpg" alt>
  </figure>
</div>

<section class="log-reg-block">
  <br><br>
  <div class="row">
    <div class="col-lg-5">
      <div class="seller-block">
        <div class="card">
          <div class="card-body">
            <a class="btn a-text slide-btn" routerLink="loginSeller">Login</a><br>
            <a class="btn slide-btn" routerLink="registerSeller">Register</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 offset-lg-1 seller-block-data">
      <p class="title">SELLER</p>
      <p class="content">Seller can register their store in our application, so that customers can buy products from
        them.</p>
    </div>
  </div>
  <hr class="hr-style">
  <div class="row">
    <div class="col-6 cust-block-data">
      <p class="title">CUSTOMER</p>
      <p class="content">Customers can buy products from available wide range of products at a single click from their
        nearby store.</p>
    </div>
    <div class="col">
      <div class="cust-block">
        <div class="card">
          <div class="card-body">
            <a class="btn a-text slide-btn" routerLink="loginCustomer">Login</a><br>
            <a class="btn slide-btn" routerLink="registerCustomer">Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row main-page">
    <!-- <div class="col-lg-2 offset-lg-2">
      <hr class="hr-style">
    </div> -->
    <div class="col-lg-8 offset-lg-2">
      <p class="main-page-content">
        Main goal of this application is to provide a more convenient and enjoyable experience for our shoppers, we
        understand
        that your weekly grocery
        store
        visit takes time away from doing the things you love. That's why many of our locations proudly offer the
        advantages
        of
        online grocery shopping for delivery right to your doorstep. Buy in bulk with ease, cut gas
        and parking costs. Browse on your time, avoid the line and shop in the comfort of your home.
      </p>
    </div>
  </div>
</section>