.login-container{
	width: 100%;
 height: 90vh;
 position: relative;
 display: inline-block;
	background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../../assets/images/marketing-to-attract-grocery-stores__large.jpg');
}

.login-block {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
	font-size: 22px;
	margin-top: 110px;
	padding:30px;
	border-radius:8px;
	box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}